body{
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
        font-family: 'Baloo 2', cursive;
    }
a{

    cursor: pointer;
    
}



button{
    background-color: #ffb347;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    
}

.header{
    text-align: center;
    border: 2px solid black;
}

.navbar{
   padding: 20px;
   text-align: center;
}
.navbar a{
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar a:hover{
    color: blue;
}